USE [master]
GO
/****** Object:  Database [DB_RoomReservation_Guillen_IT13]    Script Date: 14/11/2025 5:24:14 pm ******/
CREATE DATABASE [DB_RoomReservation_Guillen_IT13]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_RoomReservation_Guillen_IT13', FILENAME = N'C:\Users\Yuwon\DB_RoomReservation_Guillen_IT13.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_RoomReservation_Guillen_IT13_log', FILENAME = N'C:\Users\Yuwon\DB_RoomReservation_Guillen_IT13_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_RoomReservation_Guillen_IT13].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_RoomReservation_Guillen_IT13]
GO
/****** Object:  Table [dbo].[RoomReservation]    Script Date: 14/11/2025 5:24:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomReservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[GuestName] [varchar](100) NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoomReservation] ON 

INSERT [dbo].[RoomReservation] ([ReservationID], [GuestName], [RoomNumber], [CheckInDate], [CheckOutDate]) VALUES (2, N'Gabrielle Alimango', 101, CAST(N'2025-11-14' AS Date), CAST(N'2025-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[RoomReservation] OFF
GO
USE [master]
GO
